export(pdfetch_BOE)
export(pdfetch_ECB)
export(pdfetch_EUROSTAT)
export(pdfetch_EUROSTAT_DSD)
export(pdfetch_FRED)
export(pdfetch_WB)
export(pdfetch_YAHOO)
import(RCurl)
import(XML)
import(jsonlite)
import(lubridate)
import(reshape2)
import(xts)
import(zoo)
